<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Home Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/fontawesome.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand bg-dark">
    <div class="container-fluid px-5">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/teem.png}" style="width: 5rem;">
        </a>
        <div class="navbar-nav d-flex justify-content-between">
            <a class="nav-link text-white" th:href="@{/}">Home</a>
            <a class="nav-link text-white" th:href="@{/about}">About</a>
            <a class="nav-link text-white" th:href="@{/courses}">Courses</a>
            <a class="nav-link text-white" th:href="@{/students}">Students</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="flex-column my-2">
        <h4 class="mb-2" th:text="${courseName}"></h4>
        <small class="mb-2" th:text="'course : id : ' + ${id}"></small>
        <p class="mb-3" th:text="${courseDescription}"></p>
        <hr>
<!--        <form class="mb-3" th:action="@{/course/view}" th:object = "${student}" method="POST">-->
<!--            <div class="form-group">-->
<!--                <input-->
<!--                        type = "text"-->
<!--                        name = "studentName"-->
<!--                        th:field = "*{studentName}"-->
<!--                        class = "form-control"-->
<!--                />-->
<!--                <button type="submit" class = "btn btn-primary">-->
<!--                    Add-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
        <table class="table">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Join Date</th>
            </tr>
            </thead>
            <tbody>
<!--            <tr th:each="course : ${courses}">-->
<!--                <th scope="row" th:text="${courses.id}"></th>-->
<!--                <td th:text="${courses.courseName}"></td>-->
<!--                <td th:text="${courses.courseName}"></td>-->
<!--            </tr>-->
            </tbody>
        </table>

    </div>
</div>





</body>
</html>